version: '3.3'
services:
  postgres:
    image: postgis/postgis
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=mysupersecretpassword
      - POSTGRES_DB=coolgeoapp
    ports:
      - "5432:5432"
    volumes:
      - ./data/init.sql:/docker-entrypoint-initdb.d/1-init.sql
      - ./data/postal_codes.sql:/docker-entrypoint-initdb.d/2-postal_codes.sql
      - ./data/paystats.sql:/docker-entrypoint-initdb.d/3-paystats.sql
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d coolgeoapp" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      geoapp_db:
        ipv4_address: 172.16.238.10

  redis:
    image: redis
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    networks:
      geoapp_db:
        ipv4_address: 172.16.238.11
    ports:
    - "6379:6379"

  geoapp:
    container_name: geoapp
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 8000:8000
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - geoapp_net
      - geoapp_db

networks:
  geoapp_net:
    name: geoapp_net
    internal: false

  geoapp_db:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.16.238.0/24
          gateway: 172.16.238.1
